In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use("ggplot")

In [2]:
#Lendo arquivo csv
data = pd.read_csv('vgsales.csv')
#Numero de linhas e colunas
print("Numero de linha: %d Numero de colunas %d" %(data.shape[0], data.shape[1]))

Numero de linha: 16598 Numero de colunas 11

In [3]:
#Renomeando colunas
data.columns = ['Rank', 'Nome', 'Plataforma', 'Ano', 'Genero', 'Editora', 'Vendas America do Norte', 'Vendas Estados Unidos', 'Vendas Japão', 'Outras vendas', 'Vendas globais']

In [4]:
data.head()

,Rank,Nome,Plataforma,Ano,Genero,Editora,Vendas America do Norte,Vendas Estados Unidos,Vendas Japão,Outras vendas,Vendas globais
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37